/* Title font*/
h1{
    text-align: center;
    color: black;
    font-size: 50px;
  }

/* Nav bar font */
h2, a{
  text-align: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* Body normal font */
h3 {
  text-align: center;
  color: black;
  font-size: 15px;
  text-decoration: none;
  font-weight: lighter;
}





/* About page font */
 .info {
  font-weight: lighter;
  font-size: 13pt;
  text-align: left;
  color: black;
}

.info img {
  float: left;
  padding: 0 20px 20px 0;
 }


header {
    background-color: white;
    padding: 1px 0 80px 0;
  }

header #title {
    padding: 30px;
  }

body {
  background-color: white;
  margin: 0 auto;
}

/* Nav bar */
#nav_bar {
  display: inline;
  position:relative;
  top: 50px;
}

#nav_bar ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav_bar li {
  margin: 0;
  padding: 10px;
  display: inline;
  padding-right: 50px;
  padding-left: 50px;
}

#current_page a {
  color: rgb(95, 95, 95);
  border-bottom: 2px solid rgb(95, 95, 95);
}

/* Center image */
.center {
  text-align: center;
  margin-top: 35px;

}

.subtitle1 {
  padding-top: 0;
  padding-bottom: 20px;
  margin-top: 20px;
  color: black;
  font-size: 16pt;
  text-align: center;
  font-weight: bold;
}

.subtitle2 {
  text-align: center;
  font-size: 18pt;
  margin-top: 120px;
  font-weight: bold;
}


#search_form {
  margin: 25px 5px 25px 5px;
}


.contact input[type=text], select, textarea {

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 700px;
  margin: 0 auto;
  position: relative;
  float: none;

}





ul.a {
  list-style-type: circle;
}

#content-wrap {
  padding: 10px;

}

footer {
  font-size: 14px;
  width: 100%;
  text-align: center;
  clear: both;
  padding-bottom: 30px;
  padding-top: 5px;


}



.login{
  text-align: left;
  padding: 16px;

}
