/* Title font*/
h1{
    text-align: center;
    color: black;
    font-size: 50px;
  }

/* Nav bar font */
h2, a{
  text-align: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

/* Body normal font */
h3 {
  text-align: center;
  color: black;
  font-size: 15px;
  text-decoration: none;
  font-weight: lighter;
}

header {
    background-color: whitesmoke;
    padding: 1px 0 80px 0;
  }

header #title {
    padding: 30px;
  }

body {
  background-color: white;
  margin: 0 auto;
}

/* Nav bar */
#nav_bar {
  display: inline;
  position:relative;
  top: 50px;
}

#nav_bar ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav_bar li {
  margin: 0;
  padding: 10px;
  display: inline;
  padding-right: 50px;
  padding-left: 50px;
}

#current_page a {
  color: rgb(95, 95, 95);
  border-bottom: 2px solid rgb(95, 95, 95);
}

/* Center image */
.center {
  text-align: center;
  margin-top: 35px;

}




footer {
    padding: 120px 0 10px 0 ;
    background-color: whitesmoke;
  }

 .footer{
  font-size: 15px;
  padding: 10px 10px;
  text-align: center;
}
